@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
}

/* Text */

h1 {
    margin: 0 0 1em 0;
    font-size: 1.8em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #007eff;
}

/* Header */
header {
    background: #b8b8b8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;

}

headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
}


@media only screen and (min-device-height : 200px) and (max-device-height : 500px) {
    body {
        color: rgb(156, 45, 45);
    }

    .headerImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50% !important
    }

    h1 {
        margin: 0 0 1em 0;
        font-size: 1.1em !important;
        font-weight: 700;
    }

    .dice {
        width: 30%  !important;
        clear: both !important;
        display: inline-block !important;
    }

    .results {
        width: 40%  !important;
        clear: both !important;
        display: inline-block !important;
    }

    #dice-button>img {
        width: 90% !important;
        padding: 5%
    }

    .function>button {
        text-align: center;
        padding: 2%;
        width: 20% !important;
    }

    #page>footer {
        text-align: center;
    }

    #headPic {
        text-align: center;
    }

    #dice-button {
        width: 70% !important
    }

    #end-turn-button {
        text-align: center;
        padding: 2%;
        float: left;
        width: 48%
    }

    #dice-rolls-label {
        text-align: center;
    }

    #roll0 {
        width: 4% !important
    }

    #roll1 {
        width: 4% !important
    }

    #roll2 {
        width: 4% !important
    }

    #roll3 {
        width: 4% !important
    }

    #roll4 {
        width: 4% !important
    }

    #roll5 {
        width: 4% !important
    }

    #roll6 {
        width: 4% !important
    }

    #roll7 {
        width: 4% !important
    }

    #roll8 {
        width: 4% !important
    }

    #roll9 {
        width: 4% !important
    }

    .headerImage {
        width: 100%;
    }

    .dice {
        text-align: center;
    }


    .rolls {
        display: block;
        padding: 2%;
        float: left;
        width: 95%
    }

    .rolled-dice {
        text-align: center;
    }

    .function {
        clear: both;
    }
}
