@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
}

/* Text */

h1 {
    margin: 0 0 1em 0;
    font-size: 1.8em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #007eff;
}

/* Header */
header {
    background: #b8b8b8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    position: relative;

}

headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%
  }

  @media only screen 
and (orientation : landscape) { 
    .headpic {
        width:50%
    }
}
