body {
    width: 100%;
    max-width: 1000px;
    font-size: 13pt;
}

#selectors {
    border-style: dotted;
    width: 100%;
    max-width: 1000px;
    font-size: 13pt;
}

#displayGallery img {
        max-width: 19.5%;
      }

table {
    width: 100%;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: rgb(202, 189, 189);
}

.tooltip {
    position: relative;
}

.tooltip span {
    display: none;
    color: black;
    background: rgba(46, 46, 46, 0.774);
}

.tooltip span img {
    float: left;
}

.tooltip:hover span {
    display: block;
    position: absolute;
    z-index: 1000;
    width: 150px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 12px;
    overflow: hidden;
    padding: 4px;
}