body {
    width: 100%;
    font-size: 0;
    min-height: 100vh;
    background-color: #cfe0e8;
}

.page_header {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    padding: 10px;
    margin-top: 0;
}

.main:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: url("wallpaper_desert-dragon.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content {
    position: relative;
}

footer {
    width: 100%;
    font-size: 13pt;
    opacity: 1 !important;
    background-color: #cfe0e8;
}

#selectors {
    border-style: solid;
    padding: 10px;
    background-color: #cfe0e8;
    width: 100%;
    max-width: 1000px;
    font-size: 13pt;
    opacity: 0.9;
}

#displayGallery {
    background-color: #cfe0e8;
}

#displayGallery img {
    max-width: 19.5%;
    min-width: 180px;
}

table {
    /*position: center;*/
    width: 100%;
    max-width: 1000px;
    background-color: #cfe0e8;
    opacity: 0.98;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

tr svg {
    vertical-align: middle;
}

.ct {
    text-align: center;
}

.btn {
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: rgb(202, 189, 189);
}

.tooltip {
    position: relative;
}

.tooltip span {
    display: none;
    color: black;
    background: rgba(46, 46, 46, 0.774);
}

.tooltip span img {
    float: left;
}

.tooltip:hover span {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 175px;
    border: 1px solid black;
    margin-top: 12px;
    margin-left: 12px;
    overflow: hidden;
    padding: 4px;
    left: 30px;
    bottom: 20px;
}

.filter_check {
    position:relative;
}

.filter_check, .filter_check_alt {
    display: none;
    height: 30px;
}

.filter_check + label:hover, .filter_check_alt + label:hover {
    height: 30px;
    fill-opacity: 100%;
    position:relative;
    left:0.5px;
    top:0.5px;
}

.filter_check + label{
    fill-opacity: 50%;
    filter: invert(50%) sepia(100%) saturate(0.1);
}

.filter_check:checked + label{
    fill: black;
    fill-opacity: 100%;
    filter: invert(100%);
}


.filter_check_alt + label{
    fill-opacity: 50%;
    filter: invert(50%);
    /*filter: saturate(-5);*/
}

.filter_check_alt:checked + label{
    fill-opacity: 100%;
    filter: saturate(5);
}

.splinter_check {
    display: none;
}