.filter_check {
    position:relative;
}

.filter_check, .filter_check_alt {
    display: none;
    height: 30px;
}

.filter_check + label:hover, .filter_check_alt + label:hover {
    height: 30px;
    fill-opacity: 100%;
    position:relative;
    left:0.5px;
    top:0.5px;
}

.filter_check + label{
    fill-opacity: 50%;
    filter: invert(50%) sepia(100%) saturate(0.1);
}

.filter_check:checked + label{
    fill: black;
    fill-opacity: 100%;
    filter: invert(100%);
}


.filter_check_alt + label{
    fill-opacity: 50%;
    filter: invert(50%);
    /*filter: saturate(-5);*/
}

.filter_check_alt:checked + label{
    fill-opacity: 100%;
    filter: saturate(5);
}

.splinter_check {
    display: none;
}